<!DOCTYPE html>
<html>
<body>
<h1> Squirrel Sighting Stats!</h1>
<h1>Number of running squirrels: {{running.num}}, percentage: {{running.percent}} </h1>
<h1>Number of chasing squirrels: {{chasing.num}}, percentage: {{chasing.percent}} </h1>
<h1>Number of climbing squirrels: {{climbing.num}}, percentage: {{climbing.percent}} </h1>
<h1>Number of eating squirrels: {{eating.num}}, percentage: {{eating.percent}} </h1>
<h1>Number of foraging squirrels: {{foraging.num}}, percentage: {{foraging.percent}} </h1>

</body>
</html>