<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Update a Squirrel </title>
  </head>
  <body style="background-repeat: no-repeat; background-size: cover; background-image: url('https://images.theconversation.com/files/382224/original/file-20210203-21-kb8tu8.jpg')">
  <body background="https://images.theconversation.com/files/382224/original/file-20210203-21-kb8tu8.jpg">
		<div class="container">
      {% comment %} <h1 style="color:white">Update squirrel: {{ squirrel_id }}</h1>
       <h1 style="color:white">Squirrel ID: {{ squirrel_id }}</h1>
       <h1 style="color:white">Latitude: {{ latitude }}</h1>
       <h1 style="color:white">Longtitude: {{ sighting.longitude }}</h1>
       <h1 style="color:white">Shift: {{ sighting.shift }}</h1>
       <h1 style="color:white">Date: {{ sighting.date }}</h1>
       <h1 style="color:white">Age{{ sighting.age }}</h1>          {% endcomment %}
        <form style="color:white" action="/sightings/{{ squirrel_id }}/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
		</div>
  </body>
</html>
